.button {
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  padding: 13px 28px;

  border: 1px white solid;
  border-radius: 5px;

  letter-spacing: 0.6px;

  &:hover {
    transition: 0.9s;
    opacity: 1;
    background-color: $blue-color;
    border-color: $blue-color;
    color: white;
  }

  &--consult {
    background-color: $blue-color;
    border-color: $blue-color;
    color: white;
    padding: 18.5px 0;
    font-size: 16px;
    letter-spacing: 0.8px;

    @media (max-width: $tablet-width) {
      padding: 18.5px 30px;
    }

    @media (max-width: $mobile-width) {
      letter-spacing: 0.9px;
      margin: 0 auto;
    }

    &:hover {
      background-color: white;
      color: $blue-color;
      border-color: white;
    }
  }

  &--about-company {
    border: 1px $blue-color solid;
    color: $blue-color;

    padding-left: 50px;
    padding-right: 51px;

    &:hover {
      color: white;
      background-color: $blue-color;
    }
  }

  &--form {
    background-color: $deep-blue-color;
    color: white;
    padding: 15px 79px 12px 78px;
    letter-spacing: 0.8px;
    margin-top: 3px;

    &:hover {
      background-color: white;
      color: $blue-color;
    }

    @media (max-width: $tablet-width) {
      padding: 13px 84px 13px 84px;
    }

    @media (max-width: $mobile-width) {
      margin-top: 0;
      padding: 14px 88px;
    }
  }

  &--modal-submit {
    background-color: $deep-blue-color;
    color: white;
    padding: 14.5px 0;
    width: 100%;
    letter-spacing: 0.8px;
    margin-top: 3px;
    margin-bottom: 14px;

    &:hover {
      background-color: white;
      color: $blue-color;
    }

    &[disabled] {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
