.consultation {
  background: url("../img/form-bg.svg") no-repeat;
  background-color: $deep-blue-color;
  background-position: right -10.5% top 36px;

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.consultation__wrapper {
  max-width: 1530px;
  margin: 0 auto;
  padding: 66px 145px 64px 10px;
  background: url("../img/triangles-desktop@1x.png") no-repeat;
  background-position: left -20px top -60px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/triangles-desktop@2x.png");
    background-size: 671px 641px;
  }

  @media (max-width: $tablet-width) {
    padding: 57px 0 55px;
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;

    padding: 10px 0 0;
  }
}

.consultation__content {
  width: 607px;
  position: relative;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
  }

  & h2 {
    font-family: $roboto-condensed;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 15px;

    @media (max-width: $tablet-width) {
      font-size: 32px;
      margin-left: 3px;
      margin-right: 3px;
      margin-bottom: 21px;
    }

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 38px;
      margin-top: 21px;
      margin-bottom: 14px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  & span {
    font-size: 16px;
    line-height: 22px;
    padding-left: 4px;

    @media (max-width: $tablet-width) {
      padding-left: 8px;
    }

    @media (max-width: $mobile-width) {
      padding: 0;
    }
  }

  & form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 51px 34px 9px 3px;

    @media (max-width: $tablet-width) {
      padding: 54px 5px 9px 5px;
    }

    @media (max-width: $mobile-width) {
      padding: 26px 0 0;
      flex-direction: column;
    }

    & textarea {
      resize: vertical;
    }

    &--modal {
      padding: 16px 0;

      & textarea {
        resize: none;
      }
    }

    & span {
      display: none;
    }

    & span.reveal {
      display: block;
    }
  }

  &::before {
    content: "";
    width: 511px;
    height: 288px;
    position: absolute;
    left: -623px;
    top: 95px;
    background: url("../img/form-airplane-desktop@1x.png") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/form-airplane-desktop@2x.png");
      background-size: 511px 288px;
    }

    @media (max-width: $tablet-width) {
      background-image: none;
    }
  }
}
