.footer {
  background-color: #fafafa;
}

.footer__wrapper {
  margin: 0 auto;
  max-width: 1460px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 1460px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
  padding-bottom: 46px;

  @media (max-width: $tablet-width) {
    max-width: auto;
    padding: 0;
    padding-top: 0;
    padding-bottom: 36px;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.footer__company {
  padding-top: 19px;
  width: 270px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px $line-color solid;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 47px;
  }
}

.footer__company-container {
  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 6px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 26px;
  }
}

.footer__nav-container {
  padding-left: 3px;
}

.footer__contacts-wrapper {
  padding-left: 10px;

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.footer__nav {
  width: 560px;
  margin-left: 64px;

  @media (max-width: $tablet-width) {
    width: 50%;
    padding-left: 23px;
    padding-top: 19px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0;

    border-bottom: 1px $line-color solid;
  }
}

.footer__contacts {
  width: 348px;

  @media (max-width: $tablet-width) {
    width: 50%;
    padding-left: 6px;
    padding-top: 19px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0;
    border-bottom: 1px $line-color solid;
  }
}

.footer__logo {
  color: $logo-footer-color;

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }
}

.footer__header {
  & h2 {
    font-family: $roboto-condensed;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: $dark-color;
    text-transform: uppercase;
  }
}

.footer__bottom {
  border-top: 1px $line-color solid;
  width: 100%;

  @media (max-width: $mobile-width) {
    border: none;
  }
}

.footer__year {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-left: 13px;
    padding-top: 22px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    margin: 0 auto;
    padding-top: 32px;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 23px 20px;
  margin: 0 auto;
  max-width: 1460px;

  @media (max-width: $tablet-width) {
    padding: 25px 25px 25px 25px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 0;
    justify-content: center;
  }
}

.footer__block {
  display: flex;
  flex-direction: row;

  @media (max-width: $mobile-width) {
    justify-content: center;
  }
}

.footer__copyright-item {
  color: #1b2d37;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.6px;

  &--rights {
    min-width: 153px;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--years {
    min-width: 236px;
    margin-left: 70px;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--terms {
    min-width: 219px;
    margin-left: 139px;
    margin-right: 30px;

    @media (max-width: $tablet-width) {
      margin-left: 0;
      margin-right: 0;
    }

    @media (max-width: $mobile-width) {
      padding: 33px 0 10px 0;
      align-self: center;
    }
  }

  &--team {
    @media (max-width: $tablet-width) {
      margin-left: 0;
    }

    @media (max-width: $mobile-width) {
      padding: 20px;
      align-self: center;
    }
  }
}
