.page-main {
  overflow: hidden;
}

.page-main__company {
  background-image: url("../img/about-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top 34% right 8%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-bg-desktop@2x.png");
    background-size: 2243px 1347px;
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/about-bg-tablet.svg");
    background-position: top 90px left 227px;
    background-size: auto;
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/about-bg-mobile.svg");
    background-position: top 202.5% left -48px;
  }
}
