.services {
  background-color: $dark-color;
  color: white;
  margin: -1px;
  font-family: $roboto-condensed;
  font-weight: normal;

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.services__wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 58px 30px 112px;

  @media (max-width: $tablet-width) {
    padding: 24px 27px 37px;
  }

  @media (max-width: $mobile-width) {
    padding: 24px 15px 38px;
  }

  & h2 {
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;

    @media (max-width: $tablet-width) {
      font-size: 32px;
      line-height: 45px;
    }

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 39px;
      padding-top: 3px;
      padding-left: 9px;
      padding-right: 6px;
      margin-bottom: 24px;
    }
  }
}

.services__list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    margin-top: 29px;
    flex-direction: column;

    align-items: center;
  }

  @media (max-width: $mobile-width) {
    margin-top: -2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.services__item {
  width: 31.7%;

  &--production {
    padding-left: 0;
  }

  @media (max-width: $tablet-width) {
    width: 720px;
    padding-bottom: 26px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    //width: 290px;
    padding-bottom: 10px;
  }
}

.services__link {
  display: block;
  min-height: 620px;
  position: relative;

  @media (max-width: $tablet-width) {
    min-height: 256px;
    margin-right: 0;
    padding-left: 0;
  }

  &--production {
    padding-left: 0;
    background-image: url("../img/services-prod-bg-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services-prod-bg-desktop@2x.png");
      background-size: cover;
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/services-prod-bg-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/services-prod-bg-tablet@2x.png");
        background-size: cover;
      }
    }

    @media (max-width: $mobile-width) {
      background-position: center;
    }

    @media (max-width: 350px) {
      background-image: url("../img/services-prod-bg-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/services-prod-bg-mobile@2x.png");
        background-size: cover;
      }
    }
  }

  &--installation {
    background-image: url("../img/services-mont-bg-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services-mont-bg-desktop@2x.png");
      background-size: cover;
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/services-mont-bg-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/services-mont-bg-tablet@2x.png");
        background-size: cover;
      }
    }

    @media (max-width: $mobile-width) {
      background-position: center;
    }

    @media (max-width: 350px) {
      background-image: url("../img/services-mont-bg-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/services-mont-bg-mobile@2x.png");
        background-size: cover;
      }
    }
  }

  &--accessories {
    background-image: url("../img/services-comp-bg-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services-comp-bg-desktop@2x.png");
      background-size: cover;
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/services-comp-bg-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/services-comp-bg-tablet@2x.png");
        background-size: cover;
      }
    }

    @media (max-width: $mobile-width) {
      background-position: center;
    }

    @media (max-width: 350px) {
      background-image: url("../img/services-comp-bg-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/services-comp-bg-mobile@2x.png");
        background-size: cover;
      }
    }
  }
}

.services__content {
  position: relative;
  z-index: 2;
  height: inherit;

  & h3 {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
    padding: 50px 158px 22px 44px;

    @media (max-width: $tablet-width) {
      padding: 41px 500px 25px 45px;
    }

    @media (max-width: $mobile-width) {
      padding: 20px 65px 19px 34px;
    }
  }

  &--accessories {
    & h3 {
      @media (max-width: $mobile-width) {
        padding-top: 30px;
        padding-right: 90px;
      }
    }
  }
}

.services__btn {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  background-color: $deep-blue-color;
  width: 63px;
  height: 63px;
}

.services__arrow {
  position: relative;
  top: 39%;
  left: 47%;
}
