$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-width: 767px;
$tablet-width: 1023px;

$pt-mono: "PT Mono", "Courier", monospace;
$roboto: "Roboto", arial, sans-serif;
$roboto-condensed: "Roboto Condensed", arial, sans-serif;

$main-color: #666666;
$blue-color: #00b2ff;
$dark-color: #1b2d37;
$light-grey: #788891;
$logo-footer-color: #203c42;
$line-color: #cdcdcd;
$border-color: #ebebeb;
$grey-color: #c4c4c4;
$deep-blue-color: #00b2ff;
$light-blue: #19baff;
